.isconet-logo{
	background: url("../image-res/logos/logo2v2-s.png") no-repeat fixed right 10px bottom 30px;
}
	
.company-logo{
	background: url("../image-res/logos/company-logo-bg.png") no-repeat fixed center center;
}