.apple2{
	display:none;
}

@import "../base/base.scss";

// common between others for now for backwards compatibility
@import "accordion/accordion.scss";
@import "a-sprite-definitions/a-sprite-definitions.scss";
@import "button/button.scss";
@import "button/nativebutton.scss";
@import "calendar/calendar.scss";
@import "colorpicker/colorpicker.scss";

@import "common/common.scss";

@import "datefield/datefield.scss";
@import "inlinedatefield/inlinedatefield.scss";
@import "formlayout/formlayout.scss";
@import "label/label.scss";
@import "layouts/layouts.scss";
@import "link/link.scss";
@import "menubar/menubar.scss";
@import "notification/notification.scss";
@import "panel/panel.scss";
@import "popupview/popupview.scss";
@import "progressindicator/progressindicator.scss";
@import "select/select.scss";
@import "slider/slider.scss";
@import "splitpanel/splitpanel.scss";
@import "table/table.scss";
@import "tabsheet/tabsheet.scss";
@import "textfield/textfield.scss";
@import "tree/tree.scss";
@import "window/window.scss";



/*********CUSTOM************/

@import "superbar/superbar.scss";
@import "fonts/fonts.scss";
@import "color-overrides/color-overrides.scss";
@import "splash/splash.scss";
@import "logos/logos.scss";
@import "login/login.scss";

@import "custom/custom.scss";


.v-textfield{
margin-right:0!important;
}


.v-generated-body {
	background: #f5f5f5;
}

$font-size: 12px;
$line-height: normal;


$color-main: $color-blue;

$icons-normal: url("image-res/icons-white.png");
$icons-active: url("image-res/icons.png");

@mixin supermetro {
	@include base;
	// TODO @each

	@include supermetro-accordion;
	// TODO @include a-sprite-definitions;
	@include supermetro-button;
	@include supermetro-nativebutton;
	@include supermetro-calendar;
	@include supermetro-colorpicker;
	@include supermetro-common;
	@include supermetro-datefield;
	@include supermetro-inlinedatefield;
	@include supermetro-formlayout;
	@include supermetro-label;
	@include supermetro-layouts;
	@include supermetro-link;
	@include supermetro-menubar;
	@include supermetro-notification;
	@include supermetro-panel;
	@include supermetro-popupview;
	@include supermetro-progressindicator;
	@include supermetro-select;
	@include supermetro-slider;
	@include supermetro-splitpanel;
	@include supermetro-table;
	@include supermetro-tabsheet;
	@include supermetro-textfield;
	@include supermetro-tree;
	@include supermetro-window;
	

	@include supermetro-superbar;
	@include supermetro-splash;
	@include supermetro-login;
	@include custom;
	
}


