@mixin supermetro-contexthelp($primaryStyleName : contexthelp) {

	.v-contexthelp-bubble {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
		font-size: 10px;
		line-height: normal;
	}
	
	.v-contexthelp-bubble .popupContent {
		background-repeat: no-repeat;
		max-width: 400px;
	}
	
	.v-contexthelp-bubble .popupContent .helpText {
		background:#efefef;
		border: 1px solid #2D89EF;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-moz-box-shadow: 4px 4px 8px #999;
		-webkit-box-shadow: 4px 4px 8px #999;
		box-shadow: 4px 4px 8px #999;
		padding: 0.5em;
		text-shadow: #FFF 0px 1px 0px;
		font-size: 10pt;
	}
	
	.v-button-context-help {
		padding-left: 0.5em;
	}

}