@mixin supermetro-superbar-statusbar($primaryStyleName : statusbar) {
	

	.#{$primaryStyleName}{
		height:20px;
		width:100%;
		position:absolute;
		bottom:0;
		background: url("../common/img/vertical-sprites.png") repeat-x scroll left -1515px transparent;
		color:#222;
		padding:4px;
	}
	
	
	.#{$primaryStyleName} > .v-slot{
		float:right;
		padding:0 5px;
		border-left:1px solid #222;
	}
	
	.#{$primaryStyleName} > [class*="#{$primaryStyleName}-left"]{
		float:left;
	}
	
	.#{$primaryStyleName} .v-label{
		line-height:15px;
		overflow:visible;
	}
}