/* Standard implementation of the button theme
 * These files contain styles that apply to all browsers
 */
@import "button-superbar.scss";
@import "tray.scss";
@import "taskbar.scss";
@import "statusbar.scss";

@mixin supermetro-superbar($primaryStyleName : superbar) {

	@include supermetro-superbar-button;
	@include supermetro-superbar-tray;
	@include supermetro-superbar-taskbar;
	@include supermetro-superbar-statusbar;

}
