@mixin event-style($style: style, $color: #ffffff, $swapcolors : false) {
	
	.v-calendar .v-calendar-event-#{$style}{
		
		color: $color;
		
	}
	.v-calendar .v-calendar-event-#{$style}-all-day{
	
		@if $swapcolors{
			color: $color;
			background: none;
		}@else{
			background: $color;
		}
	}
	
	.v-calendar .v-calendar-event-#{$style}.v-calendar-event-start,
	.v-calendar .v-calendar-event-#{$style}-all-day.v-calendar-event-start {
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		margin-left: 0;
	}
	
	.v-calendar .v-calendar-event-#{$style}.v-calendar-event-end,
	.v-calendar .v-calendar-event-#{$style}-all-day.v-calendar-event-end{
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

}