@mixin supermetro-accordion($primaryStyleName : v-accordion) {

.#{$primaryStyleName} {
}
.#{$primaryStyleName}-item {
	background-color: #fff;
}
.#{$primaryStyleName}-item-caption {
	height: 24px;
	background: #e3e3e3 repeat-x;
	font-size: 11px;
	line-height: normal;
	border-top: 1px solid #bebebe;
}
.#{$primaryStyleName}-item-caption .v-caption {
	font-size: 14px;
	color:#222;
}

.#{$primaryStyleName}-item-caption .v-captiontext{
	vertical-align:baseline;	
}

.#{$primaryStyleName}-item-first .#{$primaryStyleName}-item-caption {
	border-top: none;
}
.#{$primaryStyleName}-item-caption .v-caption {
	padding: 2px 0 0 10px;
}
.#{$primaryStyleName}-item-open .#{$primaryStyleName}-item-caption {
	background: #2D89EF;
	border-bottom: 1px solid #bbb;
}
.#{$primaryStyleName}-item-open .#{$primaryStyleName}-item-caption .v-caption{
	color:#efefef;
	font-weight:bold;
}
.#{$primaryStyleName}-item-caption .v-icon {
	margin-top: -3px;
}
.v-ie & .#{$primaryStyleName}-item-caption .v-icon,
/*.v-ff & .#{$primaryStyleName}-item-caption .v-icon {
    margin-top: -6px;
}*/

/* Borderless style */
.#{$primaryStyleName}-borderless {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

}