/* Browser-specific corrections to the standard implementation */
@import "button-ie.scss";

@mixin supermetro-nativebutton-link($primaryStyleName : v-nativebutton) {

.#{$primaryStyleName}-link .#{$primaryStyleName}-caption {
	line-height: inherit;
	font-weight: normal;
	color: #1b699f;
	font-size: 12px;
	text-shadow: none;
	}
	
.#{$primaryStyleName}-link:focus .#{$primaryStyleName}-caption {
	outline: 1px dotted #1b699f;
	}

}

@mixin supermetro-nativebutton($primaryStyleName : v-nativebutton) {
	@include supermetro-nativebutton-link($primaryStyleName);
	
	/* Browser-specific corrections to the standard implementation */
	@include supermetro-button-ie($primaryStyleName);
}