/* These styles get catenated together on build */
@import "tabsheet-normal-style.scss";
@import "tabsheet-scroller.scss";
@import "tabsheet-borderless-style.scss";
@import "tabsheet-minimal-style.scss";
@import "tabsheet-small-style.scss";
@import "tabsheet-selected-closable-style.scss";
@import "tabsheet-hover-closable-style.scss";

@mixin supermetro-tabsheet {
	// TODO use $exclude
	@include supermetro-tabsheet-normal-style;
	@include supermetro-tabsheet-scroller;
	@include supermetro-tabsheet-borderless-style;
	@include supermetro-tabsheet-minimal-style;
	@include supermetro-tabsheet-small-style;
	@include supermetro-tabsheet-selected-closable-style;
	@include supermetro-tabsheet-hover-closable-style;

}
