@mixin supermetro-tabsheet-normal-style($primaryStyleName : v-tabsheet) {

/* Default Tabsheet styles */

.#{$primaryStyleName}-tabs{
	border-bottom:1px solid #aaa;
}

.#{$primaryStyleName}-tabcontainer{
	background:#e3e3e3;
}

.#{$primaryStyleName}-tabitemcell,
.#{$primaryStyleName}-spacertd {
	height: 32px;
}
.#{$primaryStyleName}-tabitemcell {
	/*background: no-repeat;
	/*background-image: url(img/framed/tab-left.png); /** sprite-ref: verticals */
	padding-left: 3px;
}
.#{$primaryStyleName}-tabitemcell-first {
	padding-left: 10px;
	/*sbackground-image: url(img/framed/tab-first-left.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitem,
.#{$primaryStyleName}-spacertd div {
	border: none;
	height: 32px;
	/*background: transparent repeat-x;
	/*background-image: url(img/framed/tab-bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	padding: 0;
	color: #222;
	/*text-shadow: #fff 0 1px 0;*/
}

.#{$primaryStyleName}-tabitem .v-caption {
	border: none;
	height: 23px;
	/*background: no-repeat right top;
	/*background-image: url(img/framed/tab-right.png); /** sprite-ref: verticals; sprite-alignment: right */
	padding: 9px 8px 0 6px;
}
.#{$primaryStyleName}-tabitem .v-caption-closable {
	padding-right: 0;
	padding-left: 17px;
}
.#{$primaryStyleName}-tabitem .v-captiontext {
	height: 16px;
	line-height: 16px;
	vertical-align:baseline;
	margin-top: 1px;
}
.#{$primaryStyleName}-caption-close {
	float: right;
	width: 19px;
	height: 18px;
	margin: 2px -1px 0;
	padding-left: 2px;
	background: url(../image-res/icons-white.png) no-repeat scroll 0 -4420px transparent; /** sprite-ref: verticals */
	cursor: default;
	text-indent: -999px;
	overflow: hidden;
	font-size: 14px;
	font-weight: normal;
}
/*.v-ff & .#{$primaryStyleName}-caption-close{
	margin-top: -17px;
}

.v-ff & .#{$primaryStyleName}-caption-close:only-child {
    margin-top: -1px;
}*/


.#{$primaryStyleName}-caption-close:hover {
	background: url(../image-res/icons.png) no-repeat scroll 0 -4420px transparent; /** sprite-ref: verticals */
}
.#{$primaryStyleName}-caption-close:active {
	/*background-image: url(img/close-btn-pressed.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close {
	/*background-image: url(img/close-btn-sel.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close:hover {
	/*background-image: url(img/close-btn-sel-hover.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitem-selected .#{$primaryStyleName}-caption-close:active {
	/*background-image: url(img/close-btn-sel-pressed.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitemcell-selected {
	/*background-image: url(img/framed/tab-left-sel.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitemcell-selected-first {
	/*background-image: url(img/framed/tab-first-left-sel.png); /** sprite-ref: verticals */
}
.#{$primaryStyleName}-tabitem-selected {
	/*background-image: url(img/framed/tab-bg-sel.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	color: #232930;
}
.#{$primaryStyleName}-tabitem-selected .v-caption {
	border-color: #aaa;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    background: white;
	height: 40px;
}
.#{$primaryStyleName}-spacertd div {
	margin-right: 4px;
}
.#{$primaryStyleName}-spacertd {
	/*background: transparent no-repeat right top;
	/*background-image: url(img/framed/tab-spacer-right.png); /** sprite-ref: verticals; sprite-alignment: right */
}
.blue .#{$primaryStyleName}-content {
	border-color: #a8bcc5;
}
.#{$primaryStyleName}-content,
.white .#{$primaryStyleName}-content {
	border: 1px solid #dcdcdc;
	border-bottom: none;
	border-top: none;
	color: #222;
	text-shadow: none;
}
.#{$primaryStyleName}-tabsheetpanel {
	background: #fff;
}
.v-sa & .#{$primaryStyleName}-content {
	border-color: rgba(0,0,0,.1);
}
.blue .#{$primaryStyleName}-deco {
	border-color: #92a3ac;
	background: #adc2cd;
}
.#{$primaryStyleName}-deco,
.white .#{$primaryStyleName}-deco {
	height: 1px;
	border-top: 1px solid #bebebe;
	background: #e2e2e2;
	overflow: hidden;
}
.v-sa & .#{$primaryStyleName}-deco {
	border-top-color: rgba(0,0,0,.1);
	background: rgba(0,0,0,.08);
}


/* Icons & error indicators */

.#{$primaryStyleName}-tabs .v-icon,
.#{$primaryStyleName}-tabs .v-captiontext,
.#{$primaryStyleName}-tabs .v-errorindicator {
	display: inline;
	/*float: none;*/
	float: left;
}

.#{$primaryStyleName}-tabs .v-icon{
	margin-top: 2px;
}

.v-sa & .#{$primaryStyleName}-tabs .v-captiontext {
	display: inline-block;
}
.#{$primaryStyleName}-tabs .v-icon {
	width: 16px !important;
	height: 16px !important;
}
.#{$primaryStyleName}-tabs .v-errorindicator {
	display: inline-block;
	width: 13px;
	height: 16px;
	background: transparent url(../common/icons/error.png) no-repeat 50%;
}
.v-ie & .#{$primaryStyleName}-tabs .v-errorindicator {
	zoom: 1;
	display: inline;
}
.v-ie8 & .#{$primaryStyleName}-tabs .v-errorindicator,
.v-ie9 & .#{$primaryStyleName}-tabs .v-errorindicator {
	display: inline-block;
}

}