@mixin supermetro-splash($primaryStyleName : splash) {
	
	.#{$primaryStyleName} {
		width:400px;
		height:320px;
		border: 5px solid $color-main;
		background:url(../image-res/logos/company-logo.png) no-repeat scroll center center $color-white;
		color:#000;
	}
	
	.#{$primaryStyleName} H1:after{
		content:"";
	}
	
	.#{$primaryStyleName} .isco{
		position:absolute;
		bottom:1em;
		right:1em;
		height:60px;
		width:250px;
		background:url(../image-res/logos/logo2v2-s.png) no-repeat scroll bottom right $color-white;
	}
	
	.#{$primaryStyleName} .isco span{
		margin-top:46px;
		display:block;
	}
	/*
	.#{$primaryStyleName}-demo:after{
		background: none repeat scroll 0 0 #DA532C;
		border: 5px solid #B91D47;
		bottom: -36px;
		content: "Anwendung ist allein zu Demonstrationszwecken vorgesehen!";
		display: block;
		left: -5px;
		padding: 0 5px;
		position: absolute;
		width: 418px;
	}
  */
}