/* These styles get catenated together on build */
@import "tabsheet-normal-style.scss";
@import "tabsheet-scroller.scss";
@import "tabsheet-borderless-style.scss";
@import "tabsheet-minimal-style.scss";
@import "tabsheet-small-style.scss";
@import "tabsheet-selected-closable-style.scss";
@import "tabsheet-hover-closable-style.scss";

@mixin reindeerapp-tabsheet {
	// TODO use $exclude
	@include reindeerapp-tabsheet-normal-style;
	@include reindeerapp-tabsheet-scroller;
	@include reindeerapp-tabsheet-borderless-style;
	@include reindeerapp-tabsheet-minimal-style;
	@include reindeerapp-tabsheet-small-style;
	@include reindeerapp-tabsheet-selected-closable-style;
	@include reindeerapp-tabsheet-hover-closable-style;

}
