@mixin supermetro-notification($primaryStyleName : v-Notification) {

.#{$primaryStyleName} {
	color: #fff;
	font-size: 14px;
	background: $color-green;
	font-weight: normal;
	opacity:1!important;
	padding: 0.2em 1em 1em; 
}

.#{$primaryStyleName} H1 {
	font-weight:100;
}

.#{$primaryStyleName} H1:after{
	content: "\e146";	
	font-family: "iconFont";
	float:right;
	font-size: 24px;
    margin: 6px 0 0;
}

.v-ie9 & .#{$primaryStyleName} H1 {
	/* Fix for #6793 */
	/*font-weight: bold;*/
}
	
.#{$primaryStyleName} p {
	line-height: 1.3;
}
.#{$primaryStyleName}-warning {
	background: $color-orangeDark;
	color: #fff;
	/*border: 3px solid #fee3af;*/
}
.#{$primaryStyleName}-warning H1:after{
	content: "\e145";
}

.#{$primaryStyleName}-error {
	background: $color-red;
	/*border: 3px solid #ca3030;*/
}

.#{$primaryStyleName}-error H1:after{
	content: "\e145";
}

.#{$primaryStyleName}-tray {
	margin: 0 5px 5px 0;
	/*background: #3b3c3e;*/
	background: $color-darken;
	/*border: 2px solid #585b5c;*/
	padding: 0.8em 0.9em;
}
.#{$primaryStyleName}-tray h1 {
	font-size: 14px;
	line-height: 18px;
}
.#{$primaryStyleName}-tray p {
	font-size: 12px;
	font-weight: normal;
}
.#{$primaryStyleName}-system {
	background-color: #b40000;
}

}