@mixin supermetro-superbar-button($primaryStyleName : v-menubar-superbar-button) {
	
.#{$primaryStyleName} {
	position:absolute;
	width:30px;
	padding:1px 0 0 0;
	margin:3px 0 0 3px;
	background:none;
	}
	

	
.#{$primaryStyleName} > .v-menubar-menuitem {
		text-indent:-999px;
		padding:4px 15px;
		margin:-2px 0 0 0;
	}
	

.#{$primaryStyleName} .v-menubar-menuitem {
		background:url('../image-res/icons-white/Power-Button.png') center center no-repeat scroll transparent;
	}

.#{$primaryStyleName} .v-menubar-menuitem:hover,
.#{$primaryStyleName} .v-menubar-menuitem-selected {
		background:url('../image-res/icons-black/Power-Button.png') center center no-repeat scroll transparent;
	}
	


}