@import "button-image-only.scss";
@import "input-align.scss";

@mixin custom($primaryStyleName : superbar) {

	@include button-image-only;
	@include input-align;


}

.hidden {
	display:none!important;
}

.cust_prot_id {
  float: right;
  text-align: right !important;
}

.v-caption-cust_prot_id{
  text-align: right !important;
  padding: 3px 3px 0;
}

/* textarea scrolling issue */
.cust_textarea_no_margin{
  margin-right: 0 !important;
}

/*windows scroll fix*/
.v-window-scrollfix .v-window-contents .v-scrollable{
	overflow:hidden;
}

/* Enabled(false) better readability */
.nogrey, .v-caption-nogrey {
	opacity: 0.8!important;
}

.highlight-red{
	color: red;
}

/* fix for double-tap zoom on tablet */
body {
  -ms-touch-action: manipulation !important;
}

/* custom margin (half top, no bottom) */
.cust_margin_half_full_none_full{
	padding-top: 9px !important;
	padding-bottom: 0px  !important;
}

/* custom margin (none) */
.cust_margin_none{
	padding: 0 !important;
}

.no_stepper_control .stepper-updown, /* custom disabled  */
.v-disabled .stepper-updown, /* disabled field */
.v-readonly .stepper-updown /* readonly field */
{
	display: none !important;
}

/* custom margin (half top, no bottom) */
.no_input input{
	padding: 0 !important;
	width: 0 !important;
}

/* label line break option*/
.pre-wrap{
	white-space: pre-wrap!important;
}

/* tokenfield anpassungen*/

.v-widget.tokenfield .v-button-link .v-button-caption{
	color:#fff!important;
}

.v-widget.tokenfield .v-button-link,
.v-widget.tokenfield .v-button-link .v-button-caption{
	background-color: #2d89ef!important;
}

.tokenfield .v-filterselect{
	padding-right:0!important;
}

/* taskentry anpassungen */

.taskmanager-entry .label-title {
  font-size: 15px!important;
  font-weight: bold!important;
}

.taskmanager-entry  .top-bar{
  font-weight:bold!important;
  border-bottom:1px solid #cecece!important;
}

.taskmanager-entry li span.field,
.taskmanager-entry li span.arrow{
    font-weight: bold!important;
}

.taskmanager-entry li span.oldValue,
.taskmanager-entry li span.newValue {
    font-style: italic!important;
}

/* CustomStyles enums */
/* see https://material.google.com/style/color.html#color-color-palette */

.custom-styles-highlight-primary,
.v-table-cell-content-custom-styles-highlight-primary{
	background-color: #2d89ef;
}

.custom-styles-highlight-red,
.v-table-cell-content-custom-styles-highlight-red{
	background-color: #f44336;
}

.custom-styles-highlight-orange,
.v-table-cell-content-custom-styles-highlight-orange{
	background-color: #ff9800;
}

.custom-styles-highlight-green,
.v-table-cell-content-custom-styles-highlight-green{
	background-color: #4caf50;
}

.custom-styles-highlight-blue,
.v-table-cell-content-custom-styles-highlight-blue{
	background-color: #2196f3;
}



 
