# database config
db.driver = org.mariadb.jdbc.Driver
db.protocol = jdbc:mariadb://
db.params = ?dontTrackOpenResources=true&autoReconnect=true
db.url = 127.0.0.1
db.port = 3306

db.user = username
db.pass = password
db.database = database

# scheduler
scheduler.enabled = false

# Mailer config
mail.errorMailerEnabled = false
mail.redirectEnabled = true

## simple smtp config
mail.user = user
mail.pass = pass

mail.smtp.host = smtp.example.com
mail.smtp.port = 465
mail.smtp.auth = true
mail.smtp.starttls.enable = true
mail.smtp.socketFactory.class = javax.net.ssl.SSLSocketFactory
mail.smtp.socketFactory.port = 465

### EXCHANGE
#mail.user = user
#mail.pass = pass
#
## javax.mail properties
#mail.smtp.starttls.enable=true
#mail.smtp.auth=true
#mail.smtp.host=host
#mail.smtp.port=587
#mail.smtp.socketFactory.port=587
#mail.smtp.ssl.enable=false
#mail.smtp.socketFactory.fallback = false
#mail.smtp.ssl.trust=host
#mail.smtp.ssl.protocols=TLSv1 TLSv1.1 TLSv1.2
#mail.transport.protocol=smtps