@mixin supermetro-superbar-taskbar($primaryStyleName : superbar-taskbar, $superbar-helper : superbar-tab) {

.v-tabsheet-content-#{$primaryStyleName} > .v-tabsheet-tabsheetpanel{
	background: transparent;
	
}

.v-tabsheet-content-#{$primaryStyleName} > .v-tabsheet-tabsheetpanel > div{
	background: #fff;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer{
	background: url("../common/img/vertical-sprites.png") repeat-x scroll left -1515px transparent;
	/*background: $color-main;*/
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitemcell,
.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-spacertd {
    /*border-left: 1px solid #FFFFFF;*/
    height: 24px;
    overflow: hidden;
    padding-left: 2px;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitem,
.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-spacertd div {
  height: 24px;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitem:not(.v-tabsheet-tabitem-selected):hover{
	/*background:lighten($color-main, 9%);*/
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitem-selected{
	/*background:darken($color-main, 12%);*/
}

.#{$primaryStyleName}  > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-spacertd div,
.#{$primaryStyleName}  > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-spacertd{
	/*background:none;*/
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitem .v-caption {
  padding: 2px 0 0 8px;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabs{
	float:left;
	/*margin: 0 0 0 30px;*/
	padding:0 100px 0 33px;
	border-collapse:separate;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-caption{
	border:none;
	/*background:none;*/
	height:auto;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-caption .v-icon {
  margin-left: -4px;
  padding-right: 6px;
}

.#{$primaryStyleName} > .v-tabsheet-tabcontainer-#{$primaryStyleName} .v-tabsheet-tabitem .v-captiontext {
  vertical-align: middle;
  padding: 1px 0 0 0;
  color:#222;
}

}
