@mixin supermetro-superbar-statusbar($primaryStyleName : statusbar) {
	

	.#{$primaryStyleName}{
		height:20px;
		width:100%;
		position:absolute;
		bottom:0;
		background:$color-main;
		color:#fff;
		padding:4px;
	}
	
	
	.#{$primaryStyleName} > .v-slot{
		float:right;
		padding:0 5px;
		border-left:1px solid white;
	}
	
	.#{$primaryStyleName} > [class*="#{$primaryStyleName}-left"]{
		float:left;
	}
	
	.#{$primaryStyleName} .v-label{
		line-height:15px;
		overflow:visible;
	}
}