$color-blue : #2d89ef ;
$color-blueLight : #eff4ff ;
$color-blueDark : #2b5797 ;
$color-green : #00a300 ;
$color-greenLight : #99b433 ;
$color-greenDark : #1e7145 ;
$color-red : #b91d47 ;
$color-yellow : #ffc40d ;
$color-orange : #e3a21a ;
$color-orangeDark : #da532c ;
$color-pink : #9f00a7 ;
$color-pinkDark : #7e3878 ;
$color-purple : #603cba ;
$color-darken : #1d1d1d ;
$color-lighten : #d5e7ec ;
$color-white : #ffffff ;
$color-grayDark : #525252 ;
$color-magenta : #ff0097 ;
$color-teal : #00aba9 ;
$color-redLight : #ee1111 ;


.color-blue{background-color:$color-blue!important;}
.color-blueLight{background-color:$color-blueLight!important;}
.color-blueDark{background-color:$color-blueDark!important;}
.color-green{background-color:$color-green!important;}
.color-greenLight{background-color:$color-greenLight!important;}
.color-greenDark{background-color:$color-greenDark!important;}
.color-red{background-color:$color-red!important;}
.color-yellow{background-color:$color-yellow!important;}
.color-orange{background-color:$color-orange!important;}
.color-orangeDark{background-color:$color-orangeDark!important;}
.color-pink{background-color:$color-pink!important;}
.color-pinkDark{background-color:$color-pinkDark!important;}
.color-purple{background-color:$color-purple!important;}
.color-darken{background-color:$color-darken!important;}
.color-lighten{background-color:$color-lighten!important;}
.color-white{background-color:$color-white!important;}
.color-grayDark{background-color:$color-grayDark!important;}
.color-magenta{background-color:$color-magenta!important;}
.color-teal{background-color:$color-teal!important;}
.color-redLight{background-color:$color-redLight!important;}