/* Standard implementation of the button theme
 * These files contain styles that apply to all browsers
 */
@import "button-standard.scss";
@import "button-primary-style.scss";
@import "button-small-style.scss";
@import "button-link-style.scss";

@mixin reindeerapp-button($primaryStyleName : v-button) {
	// TODO use $exclude 
	@include reindeerapp-button-standard;
	@include reindeerapp-button-primary-style;
	@include reindeerapp-button-small-style;
	@include reindeerapp-button-link-style;
}
