@mixin reindeerapp-inlinedatefield ($primaryStyleName : v-inline-datefield) {
    
    @include reindeerapp-datefield(v-inline-datefield);
    
    .#{$primaryStyleName} {
        line-height:14px; /* Override popup datefields line-height:0 to get correct line heights */
    }        
}